m4/
aclocal.m4
autom4te.cache
config.guess
config.sub
compile
depcomp
ltmain.sh
install-sh
missing
mkinstalldirs
test-driver

.deps
.libs
.dirstamp

*.la
*.o
*.lo
*.pc

configure
config.h.in
config.h
config.log
config.status

Makefile.in
Makefile

libtool
stamp-h1

/bin
/linux-build/
/mac-build/
/windows-build/
/teckit-linux/
/teckit-mac/
/teckit-windows-bin/
