#!/usr/bin/make -f

DEB_TAR_SRCDIR := teckit-2.5.11

include /usr/share/cdbs/1/rules/tarball.mk

DEB_CONFIGURE_EXTRA_FLAGS += --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)

common-install-arch:: $(patsubst %.in,%,$(wildcard debian/*.install.in))
	# Remove this when Perl versions <5.20 are gone (Ubuntu vivid onwards)
	if [ ! -d /usr/lib/$(DEB_HOST_MULTIARCH)/perl5 ]; then \
		sed -i 's/\*\///g' debian/libteckit-perl.install; \
	fi

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# DEB_INSTALL_DOCS_teckit += ../../docs/TECkit_Binary_Format.pdf
# DEB_INSTALL_DOCS_teckit += ../../docs/TECkit_Language.pdf
# DEB_INSTALL_DOCS_teckit += ../../docs/TECkit_Tools.pdf
DEB_INSTALL_MANPAGES_teckit += debian/tmp/usr/share/man/man1/teckit_compile.1
DEB_INSTALL_MANPAGES_teckit += debian/tmp/usr/share/man/man1/txtconv.1
DEB_INSTALL_MANPAGES_teckit += debian/tmp/usr/share/man/man1/sfconv.1
DEB_DH_SHLIBDEPS_ARGS_teckit := -lteckit

build/libteckit-perl ::
	cd $(DEB_SRCDIR)/source/Perl ; perl Makefile.PL INSTALLDIRS=vendor
	cd $(DEB_SRCDIR)/source/Perl ; $(MAKE) OPTIMIZE="-O2 -g -Wall"

install/libteckit-perl ::
	cd $(DEB_SRCDIR)/source/Perl ; $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
