name: TECKit non-x86

on:
  push:
    branches: [ master ]
    paths-ignore:
    - '.github/workflow/**'
    - '.gitignore'
    - 'AUTHORS'
    - 'COPYING'
    - 'ChangeLog'
    - 'INSTALL'
    - 'NEWS'
    - 'README*'
  pull_request:
    branches: [ master ]
    paths-ignore:
    - '.github/workflow/**'
    - '.gitignore'
    - 'AUTHORS'
    - 'COPYING'
    - 'ChangeLog'
    - 'INSTALL'
    - 'NEWS'
    - 'README*'

jobs:
  arches:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [aarch64, ppc64le, s390x]
    steps:
    - uses: actions/checkout@v4
    - uses: uraimo/run-on-arch-action@v3
      id: build
      with:
        arch: ${{ matrix.arch }}
        distro: alpine_latest
        run: |
          uname -a
          ./autogen.sh
          ./build-linux-binaries.sh
