name: TECKit non-x86

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  arches:
    runs-on: ubuntu-latest
    strategy:
      matrix: 
        arch: [aarch64, ppc64le, s390x]
    steps:
    - uses: actions/checkout@v2
    - uses: uraimo/run-on-arch-action@v2.0.5
      id: build
      with:
        arch: ${{ matrix.arch }}
        distro: ubuntu18.04
        install: |
          apt update -q -y
          apt install devscripts debhelper cdbs

        run: |
          ./autogen.sh
          ./build-linux-binaries.sh
#          ./build-linux-package.sh -uc -us

