name: TECKit

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  windows:
    runs-on: ubuntu-latest
    steps:
    - uses: mstksg/get-package@v1
      with:
        apt-get: mingw-w64 dos2unix groff
    - uses: actions/checkout@v2
    - name: setup
      run: ./autogen.sh
    - name: build 
      run: ./build-windows-binaries.sh
    - name: package
      run: ./build-windows-package.sh

  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: 
        os: [ubuntu-18.04, ubuntu-latest]
    steps:
    - uses: mstksg/get-package@v1
        with:
          apt-get: devscripts debhelper cdbs
    - uses: actions/checkout@v2
    - name: setup
      run: ./autogen.sh
    - name: build
      run: ./build-linux-binaries.sh
    - name: package
      run: ./build-linux-package.sh -us -uc

  macos:
    runs-on: macos-latest
    steps:
    - uses: mstksg/get-package@v1
      with:
        brew: automake
    - uses: actions/checkout@v2
    - name: setup
      run: ./autogen.sh
    - name: build 
      run: ./build-mac-binaries.sh
