name: TECkit

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  windows:
    runs-on: ubuntu-22.04
    steps:
    - uses: mstksg/get-package@v1
      with:
        apt-get: mingw-w64 dos2unix groff
    - uses: actions/checkout@v4
    - name: setup
      run: ./autogen.sh
    - name: build
      run: ./build-windows-binaries.sh
    - name: package
      run: ./build-windows-package.sh
    - uses: actions/upload-artifact@v4
      with:
        name: TECkit-Windows-${{runner.arch}}-${{github.sha}}-build${{github.run_number}}
        path: TECkit-*.zip

  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-latest]
    steps:
    - uses: actions/checkout@v4
    - name: setup
      run: ./autogen.sh
    - name: build
      run: ./build-linux-binaries.sh

  macos:
    runs-on: macos-latest
    steps:
    - uses: mstksg/get-package@v1
      with:
        brew: automake libtool
    - uses: actions/checkout@v4
    - name: setup
      run: ./autogen.sh
    - name: build
      run: |
        ./build-mac-binaries.sh
        # The otool commands below show what shared libraries the binaries are linked against,
        # they do not affect the build of the binaries.
        otool -L teckit-mac/bin/sfconv
        otool -L teckit-mac/bin/teckit_compile
        otool -L teckit-mac/bin/txtconv
        cd mac-installer
        ./create-pkg.sh
    - uses: actions/upload-artifact@v4
      with:
        name: TECkit-${{runner.os}}-${{runner.arch}}-${{github.sha}}-build${{github.run_number}}
        path: mac-installer/*.dmg
